<%- include("../partials/header") %>
<div class="container">
    <div class="row text-center justify-content-md-center">
        <div class="col-md-6">
            <h2 class="">Edit Comment</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4 p-2">
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group mt-3">
                    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>" id="">
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-primary">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>